{% extends "layout.html" %}

{% block content %}
<h2>Codes Included in FEMhub</h2>

<h4>Open source FEM codes</h4>

<a href="http://hpfem.org">
    <img src="img/hermes2d_logo.png" width=200 height=70>
</a>
<a href="http://code.google.com/p/sfepy/">
    <img src="img/sfepy_logo_title_small.png" width=200 height=70>
</a>

<h4>Visualization</h4>

<a href="http://mayavi.sourceforge.net/">
    <img src="img/mayavi.gif" border=0>
</a>
<a href="http://matplotlib.sourceforge.net/">
    <img src="img/matplotlib_logo.png" border=0>
</a>

<h4>Other software</h4>

<a href="http://ipython.scipy.org/moin/">
    <img src="img/IPy-transparent-120-flush.png" border=0>
</a>
<a href="http://numpy.scipy.org/">
    <img src="img/numpylogo.png" border=0>
</a>
<a href="http://www.scipy.org/">
    <img src="img/scipylogo.png" border=0>
</a>
<a href="http://code.google.com/p/sympy/">
    <img src="img/sympy-160px.png" border=0>
</a><br>
{% endblock %}

