{% extends "layout.html" %}

{% block content %}

<h2>Compute with FEMhub</h2>

<p>
FEMhub can be used to solve a variety of problems ranging from single ODE, ODE systems, one-dimensional PDE,
to systems of PDE in 2D. More coming soon.
</p>
<br>
<p>
</p>

<p>
</p>
<center>
<a href="http://nb.femhub.org">
    <img src="img/chaotic.png" width=400 height=300>
</a><br>
Ordinary Differential Equations.
</center>
<p>
</p>
<center>
<a href="http://nb.femhub.org">
    <img src="img/schroedinger.png" width=400 height=300>
</a><br>
Partial Differential Equations in 1D.
<br>
<p>
</p>
<br>
<p>
</p>
<center>
<a href="http://nb.femhub.org">
    <img src="img/pde.png" width=350 height=160>
</a><br>
<p>
</p>
Partial Differential Equations in 2D.
<br>
<p>
</p>
<br>
<p>
</p>
<center>
<a href="http://nb.femhub.org">
    <img src="img/shock3d.png" width=350 height=250>
</a><br>
<p>
</p>
Partial Differential Equations in 3D.

</center>


{% endblock %}

