{% extends "layout.html" %}

{% block content %}

                <h1 class="heading">The Femhub project</h1>
<p>The goal of <font color=purple><b>Femhub</b></font> is to be an open-source
distribution featuring many finite element codes, together with a web notebook
and a unified Python interface. We want to create a viable alternative to
commercial FEM codes.
<br/>
It's currently in development.</p>

<p>

<center>
<a href="http://nb.femhub.org/">Run Femhub and other open source FEM codes
online!</a>
</center>

{% endblock %}
