{% extends "layout.html" %}

{% block content %}
<h2>Download and Install</h2>

<p>
Download, unpack, build:
</p>

<font color=green>
<pre>
$ wget http://femhub.org/femhub-0.9.7.tar
$ tar -xf femhub-0.9.7.tar
$ cd femhub-0.9.7
$ make
</pre>
</font>

<p>
You can take advantage of several cores on your computer by executing
</p>

<font color=green>
<pre>
$ export MAKE="make -j9"
</pre>
</font>

<p>
before typing make to compile in parallel on 9 cores. 
</p>

<p>
Depending on the speed of your computer, wait between 14 minutes to 1.5 hour.
That's it. It should work on any Linux, Mac and Windows (in Cygwin), if it
fails, please report a bug. If you want, you can also download a binary from
here, however, if it doesn't work for you, compile from source, that should
always work.
</p>

If you encounter problems, let us know through the <a href="http://groups.google.com/group/femhub">FEMhub mailing list</a>.
</p>
<p>
</p>

<h2>Run It!</h2>

<font color=green>
<pre>
$ ./femhub
------------------------------------------------------------
| FEMhub Version 0.9.7, Release Date: 2009-09-23           |
| Type notebook() for the GUI.                             |
------------------------------------------------------------
In [1]: notebook()
</pre>
</font>

<p>
and a browser will start with the web notebook. Create a new worksheet
and type the following into the cell:
</p>

<font color=green>
<pre>
import hermes2d
hermes2d.demo_layer()
</pre>
</font>

<p>
Press <i>Shift+Enter</i> (or click the "evaluate" button) and you
should see the following output:
</p>

<pre>
iter=00, err_est=99.05%, DOFS=1
iter=01, err_est=86.54%, DOFS=3
iter=02, err_est=82.76%, DOFS=7
iter=03, err_est=76.92%, DOFS=21
iter=04, err_est=61.67%, DOFS=39
iter=05, err_est=43.00%, DOFS=74
iter=06, err_est=27.93%, DOFS=113
iter=07, err_est=20.37%, DOFS=156
iter=08, err_est=14.32%, DOFS=218
iter=09, err_est=11.06%, DOFS=298
iter=10, err_est= 8.01%, DOFS=412
iter=11, err_est= 5.68%, DOFS=555
iter=12, err_est= 3.86%, DOFS=714
iter=13, err_est= 2.53%, DOFS=861
iter=14, err_est= 1.66%, DOFS=1056
iter=15, err_est= 1.06%, DOFS=1223
iter=16, err_est= 0.68%, DOFS=1565
</pre>

<img src="img/layer-1.png" height=250>
<p>
</p>
<img src="img/layer-2.png" height=270>
<p>
</p>
<img src="img/layer-3.png" height=260>


{% endblock %}

