<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}The FEMhub Project{% endblock %}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

        <link type="text/css" href="css/style.css" rel="stylesheet" />
        <link type="text/css" href="css/menus.css" rel="stylesheet" />
        <link type="text/css" href="css/boxes.css" rel="stylesheet" />
    </head>
    <body>
        <div id="background">
            <div id="container">
                <div id="banner">
                    <img src="img/logo/femhub-logo-f-final.png" width=191 height=75></img>
                    <img src="img/logo/femhub-logo-e-final.png" width=191 height=75></img>
                    <img src="img/logo/femhub-logo-c-final.png" width=191 height=75></img>
                    <img src="img/logo/femhub-logo-g-final.png" width=191 height=75></img>
                    <img src="img/logo/femhub-logo-b-final.png" width=190 height=75></img>
		</div>
                <div class="box left">
                    <div class="title">The FEMhub Project</div>
                    <ul class="menu">
                        <li><a href="welcome.html">Welcome</a></li>
                        <li><a href="install.html">Download & Install</a></li>
                        <li><a href="teach.html">Teach Online</a></li>
                        <li><a href="compute.html">Compute Online</a></li>
                        <li><a href="codes.html">Codes Included</a></li>
                        <!-- <li><a href="conferences.html">Conferences</a></li> -->
                    </ul>
                </div>
                <div class="box right">
                    <div class="title">Quick Links</div>
                      <p>
                      </p>
                      <!-- <a href="http://nb.femhub.org/">web notebook</a><br> -->
                      <a href="http://groups.google.com/group/femhub">Mailing list</a><br>
                      <a href="http://hpfem.org/bugs/buglist.cgi?bug_status=__open__&product=FEMhub">FEMhub bugzilla</a><br>
                      <a href="http://hpfem.org/bugs/buglist.cgi?&product=FEMhub&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&field0-0-0=flagtypes.name&type0-0-0=equals&value0-0-0=review%3F">Patches to review</a><br>
                      <a href="http://progit.org/book/">Git book</a>
                      <p>
                      </p>
                    <div class="title">Latest News</div>
                      <p>
                      </p>  
                    <ul class="list">
                        {% for when, what in news %}
                            <li class="when">{{ when|strftime('%B %d, %Y') }}</li>
                            <li class="what">{{ what }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="box left">
                    <div class="title">Our Mission</div>
                    <ul class="list">
                        <li class="what justify">
                            To create an open-source distribution of finite element (FEM)
                            codes enhanced with a unified Python interface. To support transparency 
                            and establish quality standards in the development of open source FEM codes. 
                            Eventually, we want FEMhub to become a free alternative to expensive 
                            commerical FEM codes. 
                        </li>
                    </ul>
                </div>
                <div class="box left">
                    <div class="title">How To Join</div>
                    <ul class="list">
                        <li class="what justify">
                            See a list of
                            <a href="http://spilka.math.unr.edu/bugs/buglist.cgi?&product=FEMhub&keywords_type=allwords&keywords=ProjectIdea">nice project ideas</a>
                            and a list of
                            <a href="http://spilka.math.unr.edu/bugs/buglist.cgi?&product=FEMhub&keywords_type=allwords&keywords=EasyToFix">simple-to-fix issues</a>
                            related to FEMhub.
                        </li>
                    </ul>
                </div>
                <div class="box left">
                    <div class="title">Mailing List</div>
                    <ul class="list">
                        <li class="what justify">
                            Please use this
                            <a href="http://groups.google.com/group/femhub">mailing list</a>
                            for all communications related to FEMhub.
                        </li>
                    </ul>
                </div>
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div id="footer">
                Copyright &copy; 2009 <a href="http://hpfem.org">hp-FEM group</a>,
                <a href="http://www.unr.edu">University of Nevada, Reno</a>
            </div>
        </div>
    </body>
</html>

