{% extends "layout.html" %}

{% block content %}
<h1>Welcome to the FEMhub Project</h1>

<p>
FEMhub is an open-source distribution of free finite element codes enhanced with
an interactive web notebook and a unified Python interface. The goals of FEMhub
are to make it very easy to download and install many open source FEM codes at
once, provide access to open source tools for geometrical modeling, mesh generation,
and visualization, allow the user to define the problem only once and have it solved
by means of various codes for comparison purposes, and provide an interactive browser
tool making all codes in FEMhub easily accessible through the internet. The distribution
is developed by an open source community around the hp-FEM group at the University of Nevada,
Reno and available under the GPL license (Version 2, 1991).
</p>

<h2>Project Goals</h2>

<ul>
    <li>Make it very easy to download and install many open source FEM codes at once.</li>
    <li>Provide easy access to open source tools for geometrical modeling, mesh generation, and visualization.</li>
    <li>Allow the user to define the problem only once and have it solved by means of various codes.</li>
    <li>Provide a browser tool so that all codes in FEMhub are accessible through the internet, for people who cannot or do not want to install the package, or do not have the necessary CPU power.</li>
    <li>Make it possible to run FEM computations from any classroom equipped with internet access.</li>
    <li>Create a quality assessment procedure and legal certification mechanism for open source FEM codes. </li>
</ul>
The FEMhub is a joint effort with <a href="http://www.nist.gov/index.html">NIST</a>.

{% endblock %}

